.snackbars {
    position: fixed;
    bottom: 10vh;
    left: 50%;
    transform: translateX(-50%);
}

.snackbar {
    background: #323232;
    border-radius: 0.25rem;
    color: white;
    margin: 0.25rem;
    padding: 0.5rem 1rem;
}
